body {
    padding-top: 30px;
}

.header-container {
    height: 120px;
    min-width: 1240px;
    background: rgb(229, 230, 234);
    margin: -10px auto 0;
}

.header-container > table {
    width: 1240px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    height: 120px;
}

#header {
    padding-top: 30px;
    background: inherit;
}

.above-header {
    width: 1240px;
    max-width: 100%;
    min-width: 768px;
    height: 40px;
    margin-bottom: 20px;
    background: white;
}

.admin {
    zoom: 0.6;
    width: 3100px;
    margin: 0px auto;
    height: 2000px;
}

.admin tr > .ui-state-default {
    white-space: normal;
}

.admin-simple {
    zoom: 0.6;
    width: 3100px;
    margin: 0px auto;
    height: 2000px;
}

.admin-manual-added-event-user {
    width: 1600px;
    margin: 0px auto;
    height: 2000px;
}

.admin-manual-added-event-user tr > .ui-state-default {
    white-space: normal;
}

.cs-admin {
    zoom: 0.7;
    width: 1900px;
    margin: 0px auto;
}

.admin-scheduler {
    width: 1200px;
    margin: 0px auto;
    height: 1000px;
}

.yt-admin {
    zoom: 0.9;
    width: 1900px;
    margin: 0px auto;
    height: 2000px;
}

.admin-columns {
    display: block;
    overflow: auto;
    width: 300px;
    margin: 0px auto;
    height: 200px;
    white-space: normal;
}

.table-col {
    text-align: center;
    vertical-align: middle;
}

td.table-col {
    vertical-align: middle !important;
}

td.table-col a {
    color: white;
}

.tree-table-col {
    min-width: 100px;
    text-align: left;
}

.admin-login {
    text-align: center;
}

.admin-login > input, .admin-login > button {
    width: 30%;
    height: 50px;
}

.ui-growl-title {
    text-shadow: none;
}

.home-column-box {
    width: 90%;
    margin: 0px 30px 0px 0px;
    height: 750px;
}

.jquery-ui #container {
    background: #B24926;
}

.mehr-enfahren a {
    color: white;
    font-size: 24px;
    border-bottom: 2px solid;
}

#logo-mehr {
    display: block;
    margin-top: -70px;
    margin-left: 100px;
    float: left;
}

.arrow-mehr {
    display: block;
    margin-top: 6px;
    margin-right: -40px;
}

.arrow-mehr img {
    max-width: 23px;
    max-height: 25px;
}

/* Schedule */
.ui-autocomplete-items {
    background-color: rgb(218, 224, 231);
}

#addButton {
    width: 150px;
    height: 30px;
}

.ui-autocomplete-input {
    width: 200px;
}

.fc-today {
    background: rgb(156, 124, 124) !important;
}

.panel-control-admin {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin: 3px 0;
    padding: 10px 20px 7px 0;
    width: 250px;
}

.panel-nav-admin {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin: 3px 0;
    padding: 10px 20px 7px 0;
    width: 200px;
    float: right;
}

.panel-control-butt {
    width: 250px;
    height: 40px;
}

.panel-control-butt-diquiz {
    width: 50%;
    height: 40px;
    margin: 20px auto;
}

#pageLoading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../resources/spinner.gif) 50% 50% no-repeat #ffffff;
}

.reload-button-style {
    width: 800px;
    height: 80px;
}

#attribute-association-container .ui-autocomplete-multiple-container {
    height: 80px;
    width: 100%;
}

#attribute-association-container .ui-autocomplete-multiple-container > li > input {
    width: 350px !important;
}

.attribute-list-entry {
    width: 300px;
    display: inline-block;
    padding: 20px;
}

#attribute-list-grid > tbody > tr > td {
    height: 80px;
    width: 100px;
}

.attribute-list-entry-input {
    width: 500px;
}

.product-image-div {
    margin: 0px auto;
    display: block;
    text-align: center;
}

footer {
    padding: 80px 0px;
    margin: 20px auto 0px;
    background: whitesmoke;
}

/*
#pageLoading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/290.gif) 50% 50% no-repeat #ffffff;
} */
#ajaxLoadingStatus {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../image/loader.gif) 50% 50% no-repeat #ffffff;
}

.attribute-list-entry-wrapper {
    display: block;
    margin: 20px auto;
    padding: 20px 20px;
    border: 1px solid white;
}

.header-div {
    border-bottom: 1px solid #FFF;
}

.ui-widget {
    font-family: 'HelveticaNeueLTStd-Cn', serif;
    font-size: 14px;
}

a.ui-slider-handle {
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid rgb(205, 10, 10);
    background: white;
}

/* Product description tabs */
#descriptions .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}

#descriptions .nav-tabs.nav-justified > li > a {
    color: black;
    border: none;
    border-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 2px 2px 0px 0px;
    background-color: #eeeeee;
}

#descriptions .nav-tabs.nav-justified > li.active > a {
    background: url(../image/tab-bg.png) no-repeat;
    background-size: 1200px;
    padding-bottom: 15px;
}

#product-desc-tab {
    border-top: 0px;
    margin-top: -10px;
}

.grey-line-2 {
    border-top: 2px solid #ccc;
}

.grey-line-4 {
    border-top: 4px solid #ccc;
}

.grey-line-bott-1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.grey-line-bott-2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
}

.grey-line-bott-3 {
    border-bottom: 3px solid #ccc;
    padding-bottom: 3px;
}

.grey-line-bott-4 {
    border-bottom: 4px solid #ccc;
    padding-bottom: 3px;
}

#payments-button {
    width: 100%;
}

.ui-widget-content .ui-icon {
    background-image: url("../image/ui-icons_616161_256x240.png");
}

.ui-tree {
    width: 100%;
}

.page-title {
    font-size: 1.5em;
    margin: 0px auto;
}

#content-panel {
    display: block;
}

.top-offset {
    margin-top: 10px;
}

.top-bottom-offset {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-picklist .ui-picklist-list {
    padding: 20px;
    background: #FAFAFA;
    width: 100%;
    min-width: 250px;
    min-height: 300px;
}

.ui-pick-col {
    padding: 5px;
}

.ui-main-pick-col {
    padding: 20px;
    margin: 10px;
    border: 1px solid #eeeeee;
}

.panel-heading.panel-heading-acordion-bg {
    padding: 8px 60px;
    position: relative;
}

/* Accordion left align correction */
.accordion-correction {
    display: block;
    text-align: left;
}

.panel-heading .accordion-toggle:before {
    position: absolute;
    left: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: FontAwesome, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    text-decoration: none;
    margin: auto;
    content: "\f0d7";
    text-decoration: none;
    color: black;
}

.panel-heading .accordion-toggle.collapsed:before {
    content: "\f0da";
}

.panel-heading .accordion-toggle:active, .panel-heading .accordion-toggle:hover {
    text-decoration: none;
}

.text-h3 {
    font-size: 24px;
}

.text-h4 {
    font-size: 18px;
}

.ui-datatable-tablewrapper {
    border: 1px solid #eeeeee;
}

.ui-datatable thead th {
    vertical-align: middle !important;
}

tfoot > tr > td.ui-state-default {
    border-bottom: 1px solid #ddd;
}

.ui-picklist-caption {
    border: none;
}

#attr-pick-list > tbody > tr > td, #predefined-attr-pick-list > tbody > tr > td {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
}

#adminUserName, #adminPassword {
    font-weight: normal;
}

#overlay-panel-attr-definition, .overlay-common {
    background-color: #fcf8f2;
    margin: 20px 0;
    padding: 20px;
    border: none #f0ad4e;
    border-left: 3px solid;
    min-width: 300px;
}

#attr-type {
    width: 150px !important;
    text-align: left;
    vertical-align: middle;
    line-height: 1;
}

#attr-type > .ui-corner-right {
    width: 25px;
    vertical-align: middle;
}

.validation-input {
    font-size: .9em;
    color: #c41432;
    text-align: left;
    float: left;
    padding: 3px;
    font-weight: bold;
    clear: both;
}

.unit-cls, .pr-desc {
    font-size: .8em;
}

.ui-overlaypanel-content {
    background: #fcf8f2;
}

div.ui-overlaypanel-content > .ui-datatable.ui-widget, .ui-datatable.ui-widget {
    background-color: #fcf8f2;
    border: none #f0ad4e;
}

.is-countdown {
    border: none;
    background-color: inherit;
}

.countdown-amount {
    font-size: inherit;
}

.countdown-row {
    padding: 0px;
}

.form-control {
    font-weight: normal;
}

.ui-datatable .ui-column-filter {
    width: 100%;
}

.aside-menu {
    position: fixed;
    width: 130px;
}

.ui-datatable-subtable-header {
    text-align: left;
}

.bid-batch-id-section {
    font-size: 1.2em;
}

.bid-batch-time {
    font-size: 0.8em;
    font-weight: normal;
}

.padd-left-2x {
    padding-left: 2%;
}

.ui-datatable-subtable-header .btn-corr {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-corr:hover, .btn-corr:focus, .btn-corr:active, .btn-corr.active {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.disposed-bids {
    font-style: italic;
}

.side-menu .main-nav {
    background: #f9f9f9;
    -moz-box-sizing: border-box;
}

.side-menu a {
    display: block;
    padding: 0 10px 0 10px;
    color: #555;
    text-decoration: none;
    cursor: pointer;
    background: #f9f9f9;
    border: 1px solid #fff;
}

.side-menu .item {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
    padding: 20px;
}

.panel-body {
    padding: 8px 10px;
    text-align: left;
}

.messages-wrapper {
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 9999;
}

.ui-messages-info.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    margin: 10px 0px;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 2px 0px black;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-button-text {
    text-align: left;
}

.btn {
    border-radius: 0px;
}

#login-form {
    min-height: 900px;
    padding-top: 350px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px;
}

.panel.panel-warning {
    min-height: 400px;
}

.ui-selectonemenu {
    width: 100% !important;
}

.ui-selectonemenu-label {
    width: 100% !important;
}

.p, .i, .d {
    padding: 5px;
    font-size: 1.2em;
    text-align: left;
}

.p {
    /*background-color: #dff0d8;*/
}

.i {
    /*background-color: #fcf8e3;*/
}

.d {
    /*background-color: #f2dede;*/
}

.pv, .sp, .cmd {
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 2em;
    cursor: inherit;
}

.pv, .pv:active, .pv:hover {
    border-color: rgb(75, 178, 197);
    background-color: rgb(75, 178, 197);
}

.sp, .sp:active, .sp:hover {
    border-color: rgb(234, 162, 40);
    background-color: rgb(234, 162, 40);
}

.cmd, .cmd:active, .cmd:hover {
    border-color: rgb(197, 180, 127);
    background-color: rgb(197, 180, 127);
}

.panel.panel-warning {
    min-height: 400px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 6px 8px 6px -6px black;
    -moz-box-shadow: 6px 8px 6px -6px black;
    box-shadow: 6px 8px 6px -6px black;
    background-color: rgb(250, 250, 250);
}

.panel-warning > .panel-heading {
    border: none;
    border-radius: 0px;
}

.well-lg {
    border-radius: 0px;
}

#start-installation .ui-button-text.ui-c, #stop-installation .ui-button-text.ui-c {
    display: none;
}

#start-installation {
    -webkit-transition: -webkit-transform 0.1s;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    color: white;
}

#start-installation:after {
    content: "\f04b";
    display: inline-block;
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-style: normal;
    font-size: 3em;
    speak: none;
}

#stop-installation {
    -webkit-transition: -webkit-transform 0.1s;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    color: black;
}

#stop-installation:after {
    content: "\f04d";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-style: normal;
    font-size: 3em;
    speak: none;
}

#start-installation:active, #stop-installation:active {
    -webkit-transform: scale(1);
}

#start-installation:hover, #stop-installation:hover {
    -webkit-transform: scale(1.05);
}

.btn {
    -webkit-transition: -webkit-transform 0.1s;
}

.btn:active {
    -webkit-transform: scale(1);
}

.btn:hover {
    -webkit-transform: scale(1.05);
}